* {
    font-family: --var(font-family);
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    --bg-dark: #21204A;
    --bg-light:#F0F6FF;
    --linear-gradient: linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%);
}

body {
    background-color: var(--bg-light);
}

section {
    padding: 5rem 6rem;
}

.linear-gradient {
    background: linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%)
}

.sub-section {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    section {
        padding: 4rem 3rem;
    }
}

@media screen and (max-width: 500px) {
    section {
        padding: 3rem 1rem;
    }
}

/* ----- NAVIGATION ------ */

.navbar-brand i {
    color: var(--bg-dark);
}

.nav-button-grp button:hover, .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}



/* ----- HERO ----- */

.hero {
    background-image: url(/images/Hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.hero-left h1, 
.hero-left p {
    color: #fff;
}

.hero-left h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 2rem 0;    
}

.hero-left p {
    font-size: 16px;
    line-height: 24px;    
}

.hero-left button {
    outline: none;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
}

.hero-right{ 
    position: relative;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .hero-left h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
    } 

    .hero-left p {
        font-size: 16px;
        line-height: 24px;    
    }
}

@media screen and (max-width: 450px) {
    .hero-left h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
    } 

    .hero-left p {
        font-size: 14px;
        line-height: 22px;    
    }    
}


/* ----- HOT AUCTIONS ------ */

.sub-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.auctions-sub-head h2 {
    background: -webkit-linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hot-auctions {
    background-color: var(--bg-light);
}

.card {
    border-radius: 16px;
    overflow: hidden;
    border: none;
}

.card-body span {
    font-size: 12px;
    line-height: 16px;
    color: #6E84AB;
}

.card-body h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.bid-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.current-bid p, .auction-info p {
    font-size: 12px;
    line-height: 16px;
    color: #6E84AB; 
    margin: 0;   
}

.current-bid span, .auction-info span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #11315B;
    margin: 1rem 0;
}

.card-line {
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

.artist-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.artist-info, .like-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-info p, .like-info p {
    margin: 0 0 0 8px;
    font-size: 12px;
    line-height: 16px;
    color: #6E84AB;
}

.bi-heart-fill {
    color: #ee03ee;
}

/* ------ Browse by category ------ */

.browse {
    background: var(--bg-light);
}

.browse .sub-head {
    margin-bottom: 2rem;
}

.category-card {
    padding: 0.75rem;
    background-color: #fff;
    box-shadow: 6px 12px 24px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(13, 15, 17, 0.1);
}

.category-card:hover, .category-card:focus {
    transform: scale(1.025);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.category-card img {
    border-radius: 10px;
}

.card-img-overlay {
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.card-img-overlay h5 {
    padding: 0.6rem 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
}

/* ----- List your Art ----- */

.list-your-art {
    background-color: var(--bg-light);
    margin-top: 3rem;
}

.list-your-art-left {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.art-card-container {
    display: flex;
    gap: 2rem;
}

.art-card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 20px 20px 30px rgba(124, 65, 154, 0.1);
    border-radius: 16px;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.art-card:last-child {
    transform: translateY(-60px);
}

.art-card p {
    font-size: 14px;
    line-height: 22px;
    color: #6E84AB;
    margin: 0;
}

.art-card-name-container span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21204A;
}

.art-card-name-container i {
    color: #FED144;
}

.art-card-img-container {
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.75rem;
}

.art-card-img-container img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}


.list-your-art-right h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
}

.list-your-art-right p {
    font-size: 16px;
    line-height: 24px;
    color: #64609F;
    margin: 1.5rem 0;
}

.artist-btn, .buyer-btn {
    width: 160px;
    font-weight: 500;
    font-size: 18px;
}

.artist-btn {
    background: 
    linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%) padding-box,
    linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    color: #fff;
}

.buyer-btn {
    background: 
    linear-gradient(var(--bg-light), var(--bg-light)) padding-box,
    linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
    margin-left: 10px;
}

.buyer-btn span {
    background: -webkit-linear-gradient(256.8deg, #0698F9 13.5%, #fc299d 87.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------ WHY MyNFT -------- */

.why-container {
    background-image: url(/images/4884451.jpg);
    background-position: center;
    background-size: cover;
    padding: 3rem;
    border-radius: 18px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.why-container h3, .why-container p {
    color: #fff;
    margin-bottom: 2rem;
}

.why-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-container-left button {
    max-width: 225px;
}

    
@media screen and (max-width: 960px) {
    .why-container {
        padding: 1.5rem;
    }
    
}





/* ---- create section ------ */

.create h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40%;
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

.logo-container i {
    font-size: 25px;
    color: #476285;
}

.create span {
    color: #11315B;  
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.create p {
    color: #476285; 
    font-size: 14px;
    line-height: 22px;
    margin-top: 0.5rem;
}

@media screen and (max-width: 500px) {
    .create h2 {
        margin-bottom: 2.5rem;
    }

    .logo-container {
        width: 45px;
        height: 45px;
        margin-bottom: 1rem;
    }

    .logo-container i {
        font-size: 20px;

    }
}


/* ----- download section ------ */



/* -----  Footer ------ */

footer {
    background-color: var(--bg-dark);
    padding: 3rem;
    color: #fff;
    width: 100%;
}

footer p {
    font-size: 14px;
    line-height: 22px;   
    color: #BDCADB;
}

.footer-links-container {
    display: flex;
    gap: 2rem;
}

.footer-container {
    max-width: 1200px;
}

.brand-container {
    margin-bottom: 1rem;
}

.brand-container span {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;    
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    color: #BDCADB;
}

.footer-links li {
    list-style: none;
    margin-bottom: 0.5rem;
}





